.gpBorder {
	border: 1px solid black;
	/* border-radius: 15px 15px 0px 0px; */
}



.gpHeight {
	min-height: 400px;
	max-height: 500px;
}

.userPhotoSize {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: absolute;
	top: 20px
}

.userOnlinePhotoSize {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}


.photoMarginRight {
	margin-right: 15px;
}

.divSpace {
	margin-bottom: 10px;
	margin-top: 10px;
}

#allChatTexts {
	overflow: auto;
	background-color: #f9feff;
}

#usersOnline {
	overflow: auto;
}

#onlineBox {
	min-height: 400px;
	max-height: 500px;
}

.rowPos {
	position: relative;
}
input {
	height: 50px;
	border: 1px solid;
	border-color: lightgrey;
	border-radius: 0px 0px 15px 15px

}

.bottomInputBorder {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0px 0px 15px 15px;
	background-color: lightgrey;
	padding: 5px

}

.onlineBottomInputBorder {
	height: 55px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0px 0px 15px 15px;
	background-color: lightgrey;
	padding: 5px

}


.topInputBorder {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 15px 15px 0px 0px;
	background-color: lightgrey;
	height: 50px;
	padding: 5px

}

.subBTN {
	height: 48px;
	position: absolute;
	right: 15px;
	bottom: 1px;
	border-radius: 0px 0px 15px 0px;

}

.mborder {
	padding: 10px;
	border-bottom: 1px gray solid;
}
.mborder1 {
	padding: 10px;
	border-bottom: 1px gray dashed;

}

.messBorder {
    border: 2px solid black;
    padding: 10px;
    background-color: lightgrey
}

.chatFont{
	font-weight: bolder;
	font-style: italic;
}

.timeFormat{
	font-style: italic;
	font-size: 12px;
}
.chatDivStyle{
	background-color: #f7f7f7;

}
.messDivStyle {
	/* border-radius: 5px 20px 5px;
	border: 1px solid black; */
	background-color: #f7f7f7;
	padding-top: 5px
}

.onlineNamePos{
	position: absolute;
	top: 5px;
}

.editDeleteDivStyle {
	border-left: 1px dashed black;
	background-color: #f7f7f7;
	padding-top: 5px
}

.faSize {
	height: 15px;
	width: 7px;
	margin-bottom: 10px
}

.fa-trash-alt, .fa-trash-alt{
	position: absolute;
	bottom:15px;
	right: 15px
}